*{
margin: 0;
padding: 0;
}
html{
    background-color: rgb(236, 233, 233);
}
body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/*Format of Tic Tac toe Grid*/
#grid{
    float: left;
    display:inline-grid;
    grid-template-columns: auto auto auto;
    width: 450px;
    height: 450px;
    box-shadow: 0px 0px 20px black;
    background-color: rgba(35, 128, 156, 0.459);
   
}
#grid p{
    text-align: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 200%;
    user-select: none;
}
#grid #q1,#grid  #q4,#grid  #q7{
    border-left: 1px solid black; 
}
#grid #q7,#grid  #q8,#grid  #q9{
    border-bottom: 1px solid black; 
}
/* End of Format of Tic Tac toe Grid*/

/* Header and Footer formatting*/
header{
    margin-bottom: 5%;
}
footer{
    clear: both;
    margin-top: 20%;
}
/* Menu Formatting */
#menu{
    text-align: left;
    background-color:rgb(243, 207, 87);
    box-shadow: 0px 0px 20px black;
    border: black solid 1px;
    margin-left: 5%;
    padding: 2%;
    float: left;
    width:16%;
}
#menu #start_reset{
    width: 100%;
    text-align: center;
}
/*End of  Header and Footer formatting*/

/* change color*/
.change_color{
background-color: rgb(243, 173, 42);
}
/* End of change color*/