*{
margin: 0;
padding: 0;
}
html{
    background-color: rgb(236, 233, 233);
}
body{
    width: 680px;
    margin-left: auto;
    margin-right: auto;
    
}
/*Format of Tic Tac toe Grid*/
main #grid{
    
    display:grid;
    grid-template-columns: auto auto auto;
    width: 451px;
    height: 451px;
    box-shadow: 0px 0px 20px black;
    background-color: rgba(35, 128, 156, 0.459);
    float: left;
    margin-right: 30px;
    
   
}
main #grid p{
    text-align: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 200%;
    user-select: none;
}
main #grid #q1,#grid  #q4,#grid  #q7{
    border-left: 1px solid black; 
}
main #grid #q7,#grid  #q8,#grid  #q9{
    border-bottom: 1px solid black; 
}
/* End of Format of Tic Tac toe Grid*/

/* Header and Footer formatting*/
header{
    text-align: center;
    margin-bottom: 5%;
}
footer{
    clear: both;
    padding: 10px;
}
/* Menu Formatting */
main #menu{
    float: right;
    width: 150px;
    margin-bottom: 10px;
    padding:10px;
    border: black solid 1px;
    background-color: rgb(250, 194, 96);
    box-shadow: 0px 0px 20px black;
}
/* End of Menu Formatting */

/*Instruction Formatting */
main #instructions {
    float: right;
    width: 150px;
    height:130px;
    padding: 10px;
    list-style-position: inside;
    border: black solid 1px;
    box-shadow: 0px 0px 20px black;
}


/*Instruction Formatting */

/*End of  Header and Footer formatting*/

/* change color*/
.change_color{
background-color: rgb(243, 173, 42);
}
/* End of change color*/