*{
margin: 0;
padding: 0;
font-family:"Comic Sans MS", cursive, sans-serif;
}
html{
    background-color: rgb(236, 233, 233);
    
}
body{
    width: 680px;
    margin-left: auto;
    margin-right: auto;
    
}
/*Format of Tic Tac toe Grid*/
main #grid{
    display:grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    width: 450px;
    height: 450px;
    box-shadow: 0px 0px 20px black;
    background-color: rgba(35, 128, 156, 0.459);
    float: left;
    margin-right: 30px;
    
   
}
main #grid > span{
    text-align: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    padding-top: 35%;
    font-size: 200%;
    user-select: none;
}
main #grid #q1,#grid  #q4,#grid  #q7{
    border-left: 1px solid black; 
}
main #grid #q7,#grid  #q8,#grid  #q9{
    border-bottom: 1px solid black; 
}
/* End of Tic Tac toe Grid Formatting*/

/* Turn tracker*/
main >p{
text-align: right;
margin-right: 0;;
margin-left:100px ;
height: 50px;
width: 170px;
padding-top: 20px;
clear: both;

}
/*End of Turn Tracker Formatting */
/* Header and Footer Formatting*/
header{
    text-align: center;
    margin-bottom: 5%;
}
footer{
    text-align: center;
    clear: both;
    padding: 10px;
}
/* End of Header and Footer Formatting */
/* Menu Formatting */
main #menu{
    float: right;
    width: 170px;
    margin-bottom: 10px;
    padding-top: 7px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 8px;
    border: black solid 1px;
    background-color: rgb(253, 212, 78);
    box-shadow: 0px 0px 20px black;
}
main #menu #start_reset {
    height: 30px;
    width: 70px;
    padding-right: 1px;

}
main #menu #play_again{
    height: 30px;
    width: 92px;
   
}

/* End of Paragraph formatting of game status*/
/*Instruction Formatting */
main #instructions {
    float: right;
    width: 170px;
    padding-top: 7px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 8px;

    margin-bottom: 10px;
    list-style-position: inside;
    border: black solid 1px;
    box-shadow: 0px 0px 20px black;
    
}

/*End of Instruction Formatting */

main #counter{
    float: right;
    width: 170px;
    padding-top: 7px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 8px;
    border: black solid 1px;
    box-shadow: 0px 0px 20px black;
}

/* change color*/
.change_color{
background-color: rgb(243, 173, 42);
}
/* End of change color*/